# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/eggs/

# Environments
.env
.venv
venv/
env/

# Logs
*.log
scripts/logs/

# Odoo
*.pyc
dist/*.zip

# VS Code
.vscode/settings.json
.vscode/launch.json

# OS
.DS_Store
Thumbs.db
